@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
}

@layer components {
    .card-button-active {
        @apply bg-blue-600 text-white;
    }

    .card-button-unactive {
        @apply bg-transparent text-blue-600;
    }
}
